@use "../shared/scss/mixins" as *;

.auth {
  @include MaxSize;
  background: rgba(0, 0, 0, 0.66);
  z-index: 8000;

  &__outter_panel,
  &__inner_panel {
    @include BoxShadow(8);
    @include MaxSize($l: auto);
    right: 0;
    width: 100%;
  }

  &__outter_panel {
    background: var(--accent);
    max-width: 50%;
  }

  &__inner_panel {
    background: var(--primary-10);
    max-width: calc(100% - 2rem);
  }
}
