@use "../../shared/scss/mixins" as *;

.panel {
  @include BoxShadow(8);
  @include Flex;
  @include MaxSize($l: auto);
  width: 100%;
  max-width: calc(100% - 2rem);
  right: 0;
  background: var(--primary-15);
  user-select: none;
  color: var(--text-light);

  &__body {
    @include Flex($h: space-between);
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 44rem;
    max-height: 64rem;
    padding: 6rem 10rem;
    overflow-y: auto;
    text-align: center;

    a {
      text-decoration: none;
      color: var(--info);
    }
  }

  &__content {
    @include Flex($h: flex-end);
    flex-direction: column;
    width: 100%;
    flex: 1 1 auto;
    margin: 3rem 0;
  }

  &__title,
  &__subtitle {
    color: var(--text-light);
  }

  &__title {
    margin-bottom: 0.5rem;
  }

  &__logo {
    height: 2rem;

    svg,
    [class*="wordmark"] {
      fill: var(--text-light) !important;
    }
  }
}

.divider {
  @include Flex;
  position: relative;
  width: 100%;
  color: var(--text-light);
  margin: 2rem 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 1px;
    background: var(--text-light);
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}
